
#speaker-text {
  padding: 2px;
  font-size: 27px;
  padding-left: 10px;
  top: -4px;
  position: relative;
}

.claire-speaker{
  position: relative;
  height: 26px;
  min-width: 50px;
  width: 240px;
  z-index: 2000;
  overflow:visible;
  top: -10px;
  left: -30px;
  border: solid purple;
  background-color: darkorchid;
}

.mutiny-speaker{
  position: relative;
  height: 26px;
  min-width: 50px;
  width: 240px;
  z-index: 2000;
  overflow:visible;
  top: -10px;
  left: -30px;
  opacity: 0.9;
  border: solid navy  !important;
  background-color: slateblue !important;
}

.default-speaker{
  position: relative;
  height: 26px;
  min-width: 50px;
  width: 240px;
  z-index: 2000;
  overflow:visible;
  top: -10px;
  left: -30px;
  opacity: 0.9;
  background-color:yellow; 
  border: 3px solid darkorange; 
}

.claire-portrait {
  top: -12.5px;
  left: 550px;
  position: absolute;
}
.young-lucy-portrait {
  top: -42.5px;
  left: 35vw;
  position: absolute;
}
