
  div#popup-content {
    position: absolute;
    top: 675px;
    left: 10px;
    height: 50px;
    z-index: 3000;
  }

  @media only screen and (min-width: 900px){
    div#popup-content {
      position: absolute;
      top: 665px;
      left: 10px;
      height: 50px;
      z-index: 3000;
    }
  }

  #popup-text {
    position: relative;
    top: 8px;
    left: 7px;
    font-size: 25px;
    color: white;
  }

  .popup-button-prompt {
    background-color: slateblue;
    color: black;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    box-shadow: 2px 2px 2px darkslategray;
  }

  .normal{
    color: white;  
  }

  .key1-popup{
    color: orange !important;
  }

  .key2-popup{
    color: lightskyblue !important;
  }

  .popup-next-prompt{
    color: orangered; 
  }

  .check-incomplete{
    margin-top: 12px;
    float: left;
    height: 20px;
    width: 20px;
    border: solid darkslategrey 2px;  
    background-color: slategray;
  }

  .check-complete{
    margin-top: 12px;
    float: left;
    height: 20px;
    width: 20px;
    animation-delay: 2s;
    animation: check 1s;
    border: solid orange 2px; 
    background-color: goldenrod;
  }
  @keyframes check {
    0%  {border: solid darkslategrey 2px; background-color: slategray;}
    100%  {border: solid orange 2px; background-color: goldenrod;}
  }

  .popup-fade-in{
    animation: 2s popFadeIn;
    opacity: 1;
  }
  @keyframes popFadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
  }

  .popup-fade-out{
    animation: 2s popFadeOut;
    opacity: 0;
  }
  @keyframes popFadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
  }

  .chapter {
    font-size: 27px !important;
    top: -660px !important;
    position: absolute;
  }
  