
div#selectedFile {
  border: solid 3px lightblue;
}
#selected H4 {
  color: darkmagenta !important;
}

.selectScreen h2, h4 {
  color: black;
}

.select-prompt{
  text-align: right;
}

.selected-difficulty {
  color: orangered;
}

#difficulty-option{
  margin-right: 10px;
}

div.selectScreen {
  border: solid violet 3px;
  margin-top: 15px;
  border-radius: 5px;
  background: rgb(239,231,238);
  background: linear-gradient(0deg, rgb(245, 218, 241) 0%, rgb(173, 74, 182) 100%);
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
}

div.select-wrap {
  background-color: black;
  min-width: 800px;
}

img#branch {
  position: absolute;
  left: 0;
  top: 144px;
  z-index: 1;
}

img#branch-exit {
  position: absolute;
  right: 0;
  top: 144px;
  z-index: 1;
}

div.file {
  border-radius: 5px;
  display: inline-block;
  height: 60px;
  width: 50%;
  min-width: 420px;
  margin: 15px;
  color: black;
  background: rgb(35,170,173);
  background: linear-gradient(0deg,  rgb(172, 106, 235) 0%,rgb(97, 30, 185) 100%);
  text-align: left;
  padding: 10px;
  position: relative;
  z-index: 2;
  box-shadow: 5px 5px 5px #681d68;
  border: solid blueviolet 3px;
}

div.file#selectedFile {
  border: solid blueviolet 3px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%,  rgb(172, 106, 235) 100%);
}

div.file#deleteFile {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgb(44, 1, 1) 0%, rgba(255,0,0,1) 100%);
}

div.file#copyFile {
  background: rgb(235,89,12);
  background: linear-gradient(0deg, rgba(235,89,12,1) 0%, rgba(255,217,0,1) 100%);
}

div.file#copyToFile {
  background: rgb(235,89,12);
  background: linear-gradient(0deg, rgba(235,89,12,1) 0%, rgba(255,217,0,1) 100%);
}

.button-prompt {
  background-color: slateblue;
  color: black;
  padding: 1px;
  box-shadow: darkslateblue 3px 3px;
  position: relative;
  min-width: 30px;
}

  