div#wrap {
  position: relative;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  overflow: auto;
  text-align: left;
}

.progress-container{
  padding-top: 5px;
  width: 97%;
}

.exit-text {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0%  {color: red;}
  25%  {color: darkred;}
  50%  {color: red;}
  75%  {color: darkred;}
  100%  {color: red;}
}


.progress-background{
  height: 40px;
  width: 97%;
  background: rgb(0,0,3);
  background: linear-gradient(0deg, rgba(0,0,3,1) 0%, rgba(51,1,69,1) 100%);
  display: inline-block;
  z-index: 0;
  position: relative;
  top: -40px;
  border-radius: 10px;
}

div#box-content {
  background-color:DarkOrange; 
  border: 3px solid GoldenRod; 
  width: 80%;
  min-width: 700px;
  max-width: 700px;
  height: 180px;
  margin: 10% auto;
  margin-top: 420px;
  padding-left: 15px;
}

div.special {
  background-color: whitesmoke !important;
  border: 3px solid slategrey !important;
}
  div.special span.next-button-prompt {
    border: solid lightgray 1px;
    padding: 1px; 
  }
  div.special div.next-prompt {
    padding-top: 15px;
    color: lightgray;
  }

div#text-options {
  position: relative;
  margin-top: 20px;
  font-size: 27px;
}

div#text{
  position: relative;
  margin-top: 20px;
  font-size: 27px;
}

div#dialogueText {
  position: relative;
  top: -10px;
  margin-top: 5px;
  font-size: 27px;
}

.next-button-prompt {
  border: solid gold  1px;
  padding: 1px; 
}

.next-prompt {
  position: relative;
  color: gold ; 
  float: right;
  top: 70px;
}

.claire-color{
  border: solid purple !important;
  background-color: plum !important;
}

.mutiny-color{
  border: solid navy  !important;
  background-color: cornflowerblue !important;
}

.dark-color{
  color: white !important;
  border: solid black !important;
  background-color: black !important;
}
