div#doorNorth {
  z-index: 500;
  position: absolute;
  top: 0.3px;
}

div#doorEast {
  z-index: 10;
  position: absolute;
  top: -12px;
}

div#doorSouth {
  z-index: 10;
  position: absolute;
}

div#doorWest {
  z-index: 10;
  position: absolute;
  top: -12px;
}
