
div#UI-content {
  background: rgb(2,16,74);
  background: linear-gradient(0deg, rgba(2,16,74,1) 0%, rgba(5,118,161,1) 100%);
  color: black;
  text-align: center;
  z-index: 100;
  display: inline-block;
  width: 650px;
  border-radius: 5px;
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 10px;
}

#hp-bar {
  position: absolute;
  margin-top: 5px;
  left: 0px;
}

.hideUI {
  display: none;
}

#melee-weapon{
  position: absolute;
  left: 258px;
  top: -2px;
  margin: auto;
  display: block;
  margin-top: 10px;
  height: 35px;
  width: 40px;
  border: solid black 1.5px;
  border-radius: 5px;
  padding-bottom: 10px;
}

#weapon {
  position: absolute;
  left: 298px;
  margin: auto;
  display: block;
  margin-top: 5px;
  height: 35px;
  width: 40px;
  border: solid black 1.5px;
  border-radius: 5px;
  padding-bottom: 10px;
}

.active-attack{
  background-color: lightseagreen
}

.charged-attack{
  background-color: lightseagreen;
  animation: 800ms chargeIcon infinite;
}


@keyframes chargeIcon {
  0%  {background-color: lightseagreen;}
  25%  {background-color: aqua;}
  50%  {background-color: lightseagreen;}
  75%  {background-color: aqua;}
  100%  {background-color: lightseagreen;}
}


.inactive-attack{
  background-color: black;
  opacity: 0.5;
}

#skill {
  position: absolute;
  left: 355px;
  margin: auto;
  display: block;
  margin-top: 5px;
  height: 35px;
  width: 50px;
  border-radius: 5px;
  border: solid black 1.5px;
  padding-bottom: 10px;
  background-color: lightseagreen;
}

#skill img {
  position: relative;
  top: -7.5px;
}

#current-skill {
  padding-top: 11px;
}

#current-weapon {
  padding-top: -3px;
  padding-left: 2px;
}

.reset{
  position: absolute;
  left: -90px;
  top: -6%;
}

#selected-items {
  position: absolute;
  left: 250px;
  top: 0.8px;
  z-index: 10;
}

#entangle-bar {
  position: absolute;
  left: 655px;
}

#heart-icon {
  position: absolute;
  left: -80%;
  top: -6%;
}

#particle-icon {
  position: absolute;
  right: 10px;
  top: -1%;
}

#particle-percentage {
  color: white;
  z-index: 10;
  position: absolute;
  left: -63.5px;
  top: 15px;
  font-weight: bold;
  font-size: 25px;
}


#mp {
  position: absolute;
  right: 20px;
  top: 8px;
  z-index: 0;
}

.single-digit {
  padding-left: 4px;
}

div#UI-wrap {
  min-width: 1000px;
}






