
div#UI-content {
  background-color: steelblue;
  color: black;
  text-align: center;
  z-index: 10;
  display: inline-block;
  width: 600px;
  border-radius: 5px;
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 5px;
}

#hp-bar {
  position: absolute;
  margin-top: 15px;
  left: -18px;
}

.hideUI {
  display: none;
}

#melee-weapon{
  position: absolute;
  left: 282px;
  top: -1px;
  margin: auto;
  display: block;
  margin-top: 10px;
  height: 35px;
  width: 40px;
  border: solid black 1.5px;
  border-radius: 5px;
  padding-bottom: 10px;
}

#weapon {
  position: absolute;
  left: 323px;
  margin: auto;
  display: block;
  margin-top: 10px;
  height: 35px;
  width: 40px;
  border: solid black 1.5px;
  border-radius: 5px;
  padding-bottom: 10px;
}

.active-attack{
  background-color: lightseagreen
}

.inactive-attack{
  background-color: black;
  opacity: 0.5;
}

#skill {
  position: absolute;
  left: 392px;
  margin: auto;
  display: block;
  margin-top: 8px;
  height: 35px;
  width: 40px;
  border-radius: 5px;
  border: solid black 1.5px;
  padding-bottom: 10px;
  background-color: lightseagreen;
}

#current-skill {
  padding-top: 5px;
}

#current-weapon {
  padding-top: 6px;
  padding-left: 2px;
}

img {
  position: relative;
  bottom: 10px;
}

.reset{
  position: absolute;
  left: -90px;
  top: -6%;
}

#selected-items {
  position: absolute;
  left: 270px;
  top: 0.8px;
  z-index: 10;
}

#entangle-bar {
  position: absolute;
  right: -5%;
}

#heart-icon {
  position: absolute;
  left: -80%;
  top: -6%;
}

#particle-icon {
  position: absolute;
  right: 10px;
  top: -1%;
}

#particle-percentage {
  color: white;
  z-index: 10;
  position: absolute;
  left: -63.5px;
  top: 15px;
  font-weight: bold;
  font-size: 25px;
}


#mp {
  position: absolute;
  right: 20px;
  top: 8px;
  z-index: 0;
}

.single-digit {
  padding-left: 4px;
}

div#UI-wrap {
  min-width: 1000px;
}






