.sprite{
  z-index: 100;
  position: absolute;
  bottom: 30px;
  right: -13px;
  break-inside: avoid;
}

.heater {
  z-index: 100;
  position: absolute;
  bottom: 35px;
  left: -7px;
  break-inside: avoid;
}

.poster {
  z-index: 100;
  position: absolute;
  bottom: 14.5px;
  left: 1px;
  break-inside: avoid;
}

.table1 {
  z-index: 100;
  position: absolute;
  bottom: 14.5px;
  left: -14.5px;
  break-inside: avoid;
}

.table2 {
  z-index: 100;
  position: absolute;
  bottom: 14.5px;
  left: -2px;
  break-inside: avoid;
}

.sink1 {
  z-index: 100;
  position: absolute;
  bottom: 14.5px;
  left: -7px;
  break-inside: avoid;
}

.sink2 {
  z-index: 100;
  position: absolute;
  bottom: 14.5px;
  left: -2px;
  break-inside: avoid;
}

.laptop1 {
  z-index: 100;
  position: absolute;
  bottom: 14.5px;
  left: -1px;
  break-inside: avoid;
}

.laptop2 {
  z-index: 100;
  position: absolute;
  bottom: 14.5px;
  left: -2px;
  break-inside: avoid;
}

.bookshelf {
  z-index: 100;
  position: absolute;
  bottom: 27px;
  left: -2px;
  break-inside: avoid;
}

.fridge {
  z-index: 100;
  position: absolute;
  bottom: 25px;
  left: -7px;
  break-inside: avoid;
}

.tv1 {
  z-index: 100;
  position: absolute;
  bottom: 14.5px;
  left: 0px;
  break-inside: avoid;
}

.tv2 {
  z-index: 100;
  position: absolute;
  bottom: 14.5px;
  left: 0px;
  break-inside: avoid;
}

.sofa1 {
  z-index: 100;
  position: absolute;
  bottom: 14.5px;
  left: -10px;
  break-inside: avoid;
}

.sofa2 {
  z-index: 100;
  position: absolute;
  bottom: 14.5px;
  left: -5px;
  break-inside: avoid;
}
.bed1 {
  z-index: 100;
  position: absolute;
  bottom: 10px;
  left: -4px;
  break-inside: avoid;
}

.bed2 {
  z-index: 100;
  position: absolute;
  bottom: 10px;
  left: -2px;
  break-inside: avoid;
}

.dresser {
  z-index: 100;
  position: absolute;
  bottom: 14px;
  left: -18px;
  break-inside: avoid;
}

.mat {
  z-index: 1;
  position: absolute;
  bottom: 14px;
  left: 2px;
  break-inside: avoid;
}

.table-small {
  z-index: 100;
  position: absolute;
  bottom: 15px;
  left: -13px;
  break-inside: avoid;
}

.coffee {
  z-index: 100;
  position: absolute;
  bottom: 23px;
  left: 0px;
  break-inside: avoid;
}

.tank-sprite1{
  z-index: 100;
  position: absolute;
  bottom: 30px;
  right: -1px;
  break-inside: avoid;
}

.tank-sprite2{
  z-index: 100;
  position: absolute;
  bottom: 30px;
  right: -5px;
  break-inside: avoid;
}

.tank-open-sprite1{
  z-index: 100;
  position: absolute;
  bottom: 30px;
  right: 2px;
  break-inside: avoid;
}

.tank-open-sprite2{
  z-index: 100;
  position: absolute;
  bottom: 30px;
  right: -1px;
  break-inside: avoid;
}

.power-terminal-sprite{
  z-index: 100;
  position: absolute;
  bottom: 35px;
  right: -13px;
  break-inside: avoid;
}

#slime {
  z-index: 100;
  position: absolute;
  bottom: 15px;
  right: -8px;
  break-inside: avoid;
}

.tube-1{
  z-index: 100;
  position: absolute;
  bottom: 30px;
  right: -6.5px;
  break-inside: avoid;
}

.tube-2{
  z-index: 100;
  position: absolute;
  bottom: 30px;
  right: -7px;
  break-inside: avoid;
}

.tube-3{
  z-index: 100;
  position: absolute;
  bottom: 30px;
  right: -7.6px;
  break-inside: avoid;
}

.enemy-charge {
  animation-name: enemyCharge;
  animation-duration: 300ms;
  animation-iteration-count: infinite;
}

@keyframes enemyCharge {
  0%  {margin-left: 5px;}
  25%  {margin-bottom: 5px;}
  50%  {margin-right: 5px;}
  75%  {margin-top: 5px;}
}

.small-machine-sprite{
  z-index: 100;
  position: absolute;
  bottom: 5px;
  right: 13px;
  break-inside: avoid;
}

.machine-sprite{
  z-index: 100;
  position: absolute;
  bottom: 5px;
  right: -2px;
  break-inside: avoid;
}

.terminal-sprite{
  z-index: 100;
  position: absolute;
  bottom: 20px;
  right: -2.5px;
  break-inside: avoid;
}

.switch-sprite{
  z-index: 100;
  position: absolute;
  bottom: 16px;
  right: -1px;
  break-inside: avoid;
}

div.background-sprite{
  z-index: 100;
  position: absolute;
  break-inside: avoid;
  bottom: 1px;
  right: -39.9px;
}

div.dark-sprite{
  z-index: 100;
  position: absolute;
  bottom: 15px;
  right: -13px;
  break-inside: avoid;
  filter: hue-rotate(230deg);
}

div.split-player1{
  z-index: 100;
  position: absolute;
  bottom: 15px;
  right: -13px;
  break-inside: avoid;
}

div.split-player2{
  z-index: 100;
  position: absolute;
  bottom: 15px;
  right: -13px;
  break-inside: avoid;
}

.midboss-sprite {
  z-index: 110;
  position: absolute;
  bottom: 0;
  right: -16.5px;
  animation-name: hover;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
}

#midboss-hover {
  animation-name: hover;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
}

.midboss-sprite-off {
  z-index: 110;
  position: absolute;
  bottom: 0;
  right: -16.5px;
}

@keyframes hover {
  0%  {bottom: 0;}
  100%  {bottom: -2px;}
}

.midboss-charge-sprite {
  animation-name: enemyCharge;
  animation-duration: 300ms;
  animation-iteration-count: infinite;
  z-index: 110;
  position: absolute;
  bottom: -5px;
  right: -16.5px;
}

.boss-sprite {
  z-index: 500;
  position: absolute;
  bottom: -50px;
  right: 10px;
}

.core-sprite {
  z-index: 110;
  position: absolute;
  bottom: -10px;
  right: -5px;
  border: solid green 1px;
}

.drone-sprite {
  z-index: 300;
  position: absolute;
  bottom: -49px;
  right: -25px;

}

.blaine-sprite{
  left: -10px;
}

.hurt-boss-sprite {
  z-index: 110;
  position: absolute;
  break-inside: avoid;
  bottom: -50px;
  right: -8px;
  animation-name: hurt;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  
}
  @keyframes hurt {
    0%  {right: -4px; filter: hue-rotate(150deg);}
    15%  {right: -8px; filter: hue-rotate(0deg);}
    30%  {right: -4px; filter: hue-rotate(150deg);}
    45%  {right: -8px; filter: hue-rotate(0deg);}
    60%  {right: -4px; filter: hue-rotate(150deg)}
    70%  {right: -8px; filter: hue-rotate(0deg)}
    85%  {right: -4px; filter: hue-rotate(150deg);}
    100%  {right: -8px; filter: hue-rotate(0deg);}
  }

div#fall{
  top: -20px; 
  animation-name: fall;
  animation-duration: 2s;
}
  @keyframes fall {
    0%  {transform: rotate(20deg) scale(1.0);}
    25%  {transform: rotate(40deg) scale(0.5);}
    50%  {transform: rotate(60deg) scale(0.0);}
    75%  {transform: rotate(80deg) scale(-0.5);}
  }

div#transparent{
  opacity: 0.8;
}

div#spriteFadeIn{
  animation-name: spriteFade;
  animation-duration: 3s;
  opacity: 0.8;
}
  @keyframes spriteFade {
    from { opacity: 0; }
    to   { opacity: 0.8; }
  }

div#powerUp {
  animation-name: rise;
  animation-duration: 1500ms;
}
  @keyframes rise {
    from { margin-bottom: 0;}
    to   { margin-bottom: 30px;}
  }

div#powerDown {
  animation-name: sink;
  animation-duration: 1500ms;
}
  @keyframes sink {
    from { margin-bottom: 30px;}
    to   { margin-bottom: 0;}
  }

div#float {
  margin-bottom: 30px;
}





