div#wrap {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  overflow: auto;
}
div#item-content {
  margin: 10% auto;
  margin-top: 400px;
  width: 70%;
  height: 150px;
  background-color:DarkOrange; 
  border: 3px solid GoldenRod; 
  font-size: 22px;
  padding-left: 15px;
}

div#header {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 25px;
}

.icon-box {
  float: left;
  padding-top: 45px;
}

.item-text-box {
  margin-left: 60px;
}

#item-icon {
  margin-top: 10px;
  padding-left: 5px;
  text-align: center;
}

#special-name {
  color: blue;
}

.item-button-prompt {
  color: darkblue;
}
