div#wrap {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  overflow: auto;
}
div#item-content {
  background-color: dimgray; 
  border: 3px solid whitesmoke; 
  border-radius: 3px;
  width: 80%;
  min-width: 700px;
  max-width: 700px;
  height: 155px;
  margin: 10% auto;
  margin-top: 450px;
  padding-left: 15px;
  padding-right: 15px;
  position: sticky;
  opacity: 0.9;
}

@media only screen and (min-width: 900px){
  div#item-content {
    background-color: dimgray; 
    border: 3px solid whitesmoke; 
    border-radius: 3px;
    width: 80%;
    min-width: 700px;
    max-width: 700px;
    height: 155px;
    margin: 10% auto;
    margin-top: 410px;
    padding-left: 15px;
    padding-right: 15px;
    position: sticky;
    opacity: 0.9;
  }
}

div#header {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 30px;
}

.icon-box {
  float: left;
}

.item-text-box {
  margin-left: 130px;
  font-size: 25px;
}

#item-icon img{
  position: absolute;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  height: 100px;
  width: 100px;
}

#special-name {
  color: blue;
}

.item-button-prompt {
  color: darkblue;
}
